@page "/wexflow/manager"
<div style="margin-bottom:5px; text-align:right;">
    <Button Type="@ButtonType.Primary" @onclick="StartWf">开始</Button>
    <Button Disabled>暂停</Button>
    <Button Disabled>恢复</Button>
    <Button Disabled Danger>停止</Button>
    <Button Disabled>通过</Button>
    <Button Disabled>拒绝</Button>
</div>

<Table @ref="table" TItem="Data.WorkflowInfo" @bind-SelectedRows="selectWfItem" DataSource="@workflowList" OnRowClick="SelectRow" Loading="@loading">
    <Selection Key="@context.Id.ToString()" Type="radio"></Selection>
    <PropertyColumn Property="c => c.Id"></PropertyColumn>
    <PropertyColumn Property="c => c.Name"></PropertyColumn>
    <PropertyColumn Property="c => c.LaunchType"></PropertyColumn>
    <PropertyColumn Property="c => c.IsEnabled">
        <Switch @bind-Value="@context.IsEnabled"></Switch>
    </PropertyColumn>
    <PropertyColumn Property="c => c.IsApproval">
        <Checkbox @bind-Checked="context.IsApproval" Disabled></Checkbox>
    </PropertyColumn>
    <PropertyColumn Property="c => c.Description"></PropertyColumn>
</Table>
